.headerContainer {
    width: 100vw;
    height: 80vh;
    background: url('../../assets/aboutus/hero-section.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.headerHeroSectionTitle {
    font-size: 10rem;
    font-weight: 700;
    height: 90%;
    color: var(--h1-clr);
    text-transform: capitalize;
    margin-top: 4rem;
    margin-left: 35rem;
}