.headerContainer {
    width: 100vw;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/rests/faq-navbar.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.headerHeroSectionTitle {
    font-size: 10rem;
    font-weight: 700;
    height: 90%;
    color: var(--h1-clr);
    text-transform: capitalize;
    margin-top: 4rem;
    margin-left: 45rem;
}