.faqs {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.faqsTitle {
    font-size: 3.2rem;
    color: var(--h2-clr);
    font-weight: 550;
    text-transform: capitalize;
    width: 70%;
    text-align: center;
    padding-bottom: 4rem;
}

.faqsContainer {
    min-height: 10vh;
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    background-color: var(--second-bg-clr);
    border-radius: 50px;
    padding: 2rem;
    border: 1px solid var(--logo-clr);
}

.faq {
    width: 70%;
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.faqTitle {
    font-size: 1.3rem;
    color: var(--h3-clr);
    text-transform: capitalize;
    height: 25%;
}

.faqAnswer {
    color: var(--p-clr);
    min-height: 0;
    max-height: 60%;
    font-size: 1.1rem;
    transition: max-height 0.5s ease;
}

.faqAnswerNone {
    display: none;
}

.arrowIcon {
    font-size: 1.8rem;
    color: var(--logo-clr);
    opacity: 0.7;
    cursor: pointer;
}

.arrowIconRotated {
    transform: rotate(90deg);
    font-size: 1.8rem;
    color: var(--logo-clr);
    opacity: 0.7;
    cursor: pointer;
}

.contactForm {
    width: 35%;
    height: 70vh;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--logo-clr);
    border-radius: 15px;
}

.contactFormTitle {
    font-size: 3rem;
    color: var(--h3-clr);
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 1rem;
}

.contactFormDescription {
    color: var(--p-clr);
    font-size: 1.1rem;
}

.inputGroups {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 80%;
    width: 65%;
}

.formFloating, .formFloatingTextArea {
    position: relative;
    width: 100%;
}

.formFloating {
    height: 3rem;
}

.formFloatingTextArea {
    height: 10rem;
}

.firstInput {
    margin-top: 2.5rem;
}

.formInput, .formSelect, .formInputTextArea {
    width: 100%;
    height: 100%;
    background-color: var(--second-bg-clr);
    border: 1px solid var(--logo-clr);
    border-radius: 0.8rem;
    font-size: 0.8rem;
    color: (--p-clr);
    padding-left: 1rem;
}

.formInputTextArea {
    padding: 0.5rem;
}

.formInputLabel, .formInputTextAreaLabel {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    font-size: 0.9rem;
    font-weight: 350;
    background-color: var(--second-bg-clr);;
    transform: translateY(-50%);
    padding: 0 0.25rem;
    pointer-events: none;
    transition: transform 0.2s ease, font-size 0.2 ease, color 0.2s ease;
}

.formInputTextAreaLabel {
    top: 10%;
    transform: translateY(-10%);
}

.formInput:focus + .formInputLabel, .formInput:not(:placeholder-shown) + .formInputLabel,
.formInputTextArea:focus + .formInputTextAreaLabel, .formInputTextArea:not(:placeholder-shown) + .formInputTextAreaLabel {
    transform: translateY(-120%) scale(0.75);
    font-size: 0.9rem;
    color: var(--h2-clr);
    font-weight: 300;
}

.formButton {
    width: 100%;
    height: 3rem;
    background-color: var(--logo-clr);
    border: none;
    border-radius: 0.8rem;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}