.faqs {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.faqsTitle {
    font-size: 3.2rem;
    color: var(--h2-clr);
    font-weight: 550;
    text-transform: capitalize;
    width: 70%;
    text-align: center;
    padding-bottom: 4rem;
    width: 100%;
}

.faqsContainer {
    min-height: 10vh;
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    background-color: var(--second-bg-clr);
    border-radius: 50px;
    padding: 2rem;
    border: 1px solid var(--logo-clr);
}

.faq {
    width: 70%;
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.faqTitle {
    font-size: 1.3rem;
    color: var(--h3-clr);
    text-transform: capitalize;
    height: 25%;
}

.faqAnswer {
    color: var(--p-clr);
    min-height: 0;
    max-height: 60%;
    font-size: 1.1rem;
    transition: max-height 0.5s ease;
}

.faqAnswerNone {
    display: none;
}

.arrowIcon {
    font-size: 1.8rem;
    color: var(--logo-clr);
    opacity: 0.7;
    cursor: pointer;
}

.arrowIconRotated {
    transform: rotate(90deg);
    font-size: 1.8rem;
    color: var(--logo-clr);
    opacity: 0.7;
    cursor: pointer;
}

.faqPicOne, .faqPicTwo {
    position: absolute;
    right: 10rem;
    bottom: 0;
}

.faqPicOne {
    height: 30rem;
    width: 30rem;
}

.faqPicTwo {
    height: 25rem;
    width: 25rem;
    top: 7rem;
    transform: rotate(15deg);
}