.navbar {
    height: 30%;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-left: 13rem;
    gap: 17rem;
}

.logoHidden {
    display: none;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 3rem;
}

.navItem {
    color: var(--h1-clr);
    cursor: pointer;
    font-weight: 500;
    padding: 0.2rem;
    font-size: 1.1rem;
    transition: border-bottom 0.3s ease;
    text-decoration: none;
}

.navItemLogout {
    color: var(--h1-clr);
    cursor: pointer;
    font-weight: 500;
    padding: 0.2rem;
    font-size: 1.1rem;
    transition: border-bottom 0.3s ease;
    text-decoration: none;
    background-color: var(--logo-clr);
    padding: 0.5rem;
    border-radius: 5px;
}

ul li {
    list-style-type: none;
}

.navItem:hover {
    border-bottom: 3px solid var(--logo-clr);
}

.navItemActive {
    border-bottom: 3px solid var(--logo-clr);
    color: var(--h1-clr);
    cursor: pointer;
    font-weight: 500;
    padding: 0.2rem;
    font-size: 1.1rem;
    transition: border-bottom 0.3s ease;
    text-decoration: none;
}

.active {
    border-bottom: 3px solid var(--logo-clr);
}